{% extends 'base.html.twig' %}

{% block body %}
<br>
<br>
<br>
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h3><span>There will be classes management.</span></h3>
            </div>


        </div>
    </div>
{% endblock %}


