{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h3><span>This web site runs a database storing the VSCP (Very Simple Control Protocol) data structure.</span></h3>
            </div>


        </div>
    </div>
{% endblock %}


