{% extends 'base.html.twig' %}


{% block body %}


    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Wecome to the VSCP maintenace interface</span></h1>
            </div>


        </div>
    </div>
{% endblock %}


