<div class="sidenav">
<h3>Event classes</h3 >

{% for vscpclass in vscpclass %}

	<li><a href="{{ path('vscpmaint_indexbrowser', {'id': vscpclass.id}) }}">{{ vscpclass.vscpclassToken }}({{vscpclass.vscpclass}})</a></li>

{% endfor %}

</div>